h1{
    color: red;
}

p, li{
    color: green;
}

li{
    color: purple;
    list-style-type: square;
}

.special{
    color: darkorange;
}

li.special{
    font-size: large;
}

em{
    color: cornflowerblue;
}

/* 链接 */
a:link{
    color: darkslateblue;

}
a:visited{
    color: dimgray;
}

a:hover{
    text-decoration:double;
}