<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Klicker Game</title>
        <link rel="stylesheet" href="main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="app" v-bind:class="{darkmode : darkModeActive}">
            <div class="wrapper">
                <h1 class="title">Crypto Miner 3.0</h1>
                <div class="spielfeld">
                    <p> {{cryptoMenge}} Crypto Coins</p>
                    <p> Aktuelle Crypto Coins per Klick {{cryptoModifikator}}</p>
                    <button v-on:click="addCrypto">Mine Crypto</button>
                    <!-- 错误：没写对名字item -->
                    <ul v-for="item in updateList">
                        <li>{{item.name}}: {{item.times}} times</li>
                    </ul>
                </div>
                <div class="upgrades">
                    <button v-on:click="increaseModifier('botminer')">Bot Miner</button>
                    <button v-on:click="increaseModifier('rtx3090')">RTX 3090</button>
                    <button v-on:click="increaseModifier('netzwerk')">Bot Netzwerk</button>
                    <button v-on:click="increaseModifier('serverraum')">Serverraum</button>
                    <p> {{infoText}} </p>
                </div>
                <div class="option">
                    <button v-on:click="showOptions">options</button>
                    <div v-if="isShown">
                        <button v-on:click="toggelMode">Darkmode</button>
                        <button v-on:click="toggelMode">Normal</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>
