/* selector {character: value;} */

p {
    /* text color */
    color:white;
    font-size:medium;
    /* background color */
    background-color:gray;
}

h1 {
    color: red;
}

div {
    width: 260px;
    margin:auto;
}