.head {
    grid-area: header;
}
.content {
    grid-area: content;
}

.wrapper div {
    background-color: lightgoldenrodyellow;
    border: 3px solid dotted;
}

.nav {
    grid-area: nav;
}
.side {
    grid-area: sidebar;
}
.footer {
    grid-area: footer;
}
.wrapper {
    /* hier die allgemeine grid-Konfiguration einfügen */
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header"
                        "nav"
                        "content"
                        "siderbar"
                        "footer";
}
@media (min-width: 500px) {
    /* hier die Anpassungen für Geräte mit geringer Auflösung einfügen */
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "header header"
        "nav     nav"
        "sidebar content"
        "footer  footer";
    }
}
