/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  h1,h2 {
    font-family: fantasy;
  }

  body > p {
    font-family: cursive;
    letter-spacing: 5px;
    word-spacing: 5px;
  }

  * {
    font-size: 10px;
  }

  body{
    line-height: normal;
  }

  h1 {
    text-align: center;
    font-size: 20px;
  }

  body > section > p {
    text-indent: 20px;

  }
 
  aside > ul {
    list-style: square;
  }

  aside > a:link {
    color: #a66;
  }

  aside > a:visited {
    color: indigo;
  }

  a:hover {
    color: #a66;
  }

  section > ul{
    list-style: square;
  }

  nav > ul {
    list-style: none;
  }

  nav > ul > li{
    border: #a66 solid 1px;
    color: #a66;
    padding: 10px;
    margin: 10px;
  }

  nav > a{
    size: 10px;
 }