head
    title Meine Filme- und Musikbibliothek 
    meta(charset="utf-8")
    style.
        .filmBorder{
            border: 2px solid yellow;
            background-color: #008;
        }
        .filmFont{
            text-align: left;
            font-family: sans-serif;
            color: white;
        }
        .musicBorder{
            border: 2px dotted blue;
            background-color: pink;
        }
        .musicFont{
            text-align: left;
            font-family: sans-serif;
            color: white;
        }
