head
    title Meine Webseite
    meta(charset='utf-8')
    style.
        .musicBorder{
            border: 2px solid blue;
            background-color: yellow;
        }
        .musicContent{
            text-align:left;
            color: white;
        }